<div class="row">
<div class="form-body--container col-sm-12">

<%= simple_form_for [ structure, field_group, field_setting ], defaults: { label: false } do |f| %>
  <% if field_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize( field_setting.errors.count, "error") %> prohibited this field_setting from being saved:</h2>

      <ul>
      <% field_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-8">

      <div class="form-section--wide-container row">
        <div class="col-sm-12">

          <h4><%= "#{ t :details } %></h4>
          
          <h5><%= "#{ t :title }" %></h5>
          <%= f.input :name %>
          
          <% if field_setting.slug.nil? %>
            <%= f.input :slug, as: :hidden %>
          <% else %>
            <h5><%= "#{ t :slug }" %></h5>
            <%= f.input :slug, disabled: true, hint: "#{ t :slug_disable_hint }" %>
          <% end %>

          <h5><%= "#{ t :field_type }" %></h5>
          <% if field_setting.field_type.nil? %>
            <%= f.input :field_type, as: :select, collection: get_field_types, include_blank: false %>
          <% else %>
            <%= f.input :field_type, as: :string, disabled: true %>
          <% end %>


        </div>
      </div>

    </div>
    <div class="col-sm-4">
      <div class="form-section--narrow-container row">
        <div class="col-sm-12">
          <div class="form-actions">
            <h4><%= "#{ t :setting }".pluralize %></h4>
            <%= f.button :submit, 'Save changes', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
<% end %>

</div>
</div>