<% content_for :header do %>
	<h3><%= "#{ t :edit }" %><%= @field_group.name.humanize.split.map(&:capitalize).join(' ') %></h3>
  <a href="<%= structure_field_group_path( id: @field_group.slug ) %>" class="main-header--back"><span class="glyphicon glyphicon-list"></span> <%= "#{ t :back_to }".capitalize %> <%= @field_group.name.capitalize %></a>
<% end %>
		
<% content_for :content do %> 
	<%= render 'form_body', field_group: @field_group, structure: @structure, field_setting: @field_setting %>
<% end %>