<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @field_setting.name %>
</p>

<p>
  <strong>Field type:</strong>
  <%= @field_setting.field_type %>
</p>

<p>
  <strong>Position:</strong>
  <%= @field_setting.position %>
</p>

<%= link_to 'Edit', edit_field_setting_path(@field_setting) %> |
<%= link_to 'Back', field_settings_path %>
