<li id="repeater_<%= repeater.id %>" 
	class="form-item--repeater form-item--collapsable">
	<div class="form-item--header">
		<a class="form-item--collapse-btn" href="#">
			<span>
				<i class="fas fa-angle-up"></i> 
				<%= t('binda.collapse') %>
			</span>
			<span>
				<i class="fas fa-angle-down"></i> 
				<%= t('binda.expand') %>
			</span>
		</a>
		<a class="form-item--delete-repeater-item" 
			href="<%= repeater_path( id: repeater.id ) %>" 
			data-id="<%= repeater.id %>" 
			data-confirm="<%= t 'binda.confirm_delete' %>">
			<i class="far fa-trash-alt"></i> 
			<%= t('binda.delete').capitalize %>
		</a>
		<p>
			<%= repeater.field_setting.name %> 
			<%= t('binda.item') %> 
			#<%= repeater.id %>	
		</p>
	</div>
	<div class="form-item--repeater-fields form-item--collapsable-stack">
    <%= f.simple_fields_for "repeaters_attributes[]", repeater do |ff| %>
    	<%= ff.input :field_setting_id, as: :hidden, input_html: { value: ff.object.field_setting.id } %>
			<%= ff.input :id, as: :hidden, input_html: { value: ff.object.id } %>
			<%= ff.input :fieldable_id, as: :hidden %>
			<%= ff.input :fieldable_type, as: :hidden %>
			<%# DON'T USE ff.input :position otherwise it will override the order set by rails via ajax when adding a new item %>
			<% ff.object.field_setting.children.order( :position, :id ).each do |repeater_setting_child| %>
			  <%= render "binda/fieldable/form_section_repeater", f: ff, repeater_setting_child: repeater_setting_child, repeater: repeater %>
		  <% end %>
	  <% end %>
	</div>
</li>