<%= form_for(binding) do |f| %>
  <% if binding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(binding.errors.count, "error") %> prohibited this binding from being saved:</h2>

      <ul>
      <% binding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position %>
    <%= f.number_field :position %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
