<div class="standard-form">

<%= simple_form_for manage_user, url: get_form_manage_user_url do |f| %>
  <% if manage_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize( manage_user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% manage_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="standard-form--body">

    <div class="standard-form--container">

      <div class="standard-form--header">
        <p>Edit User Details</p>
      </div>

      <%= f.input :email, label: "Email" %>

      <%= f.input :password, label: "Password" %>

      <%= f.input :password_confirmation, label: "Password confirmation" %>


      <% if !current_user.is_superadmin %>
        <h5>Administrator priviledges</h5>
        <%= f.input :is_superadmin, label: false, as: :radio_buttons %>
      <% end %>

    </div>

  </div>

  <div class="standard-form--sidebar">

      <%= f.button :submit, 'Save changes', class: 'b-btn b-btn-primary', label: "Publish" %>

  </div>

<% end %>

</div>

