<div class="standard-form">

<%= simple_form_for manage_user, url: get_form_manage_user_url do |f| %>

  <%= f.error_notification %>
  
  <% if f.object.errors.any? %>
    <div class="standard-form--error-explanation">
      <div class="alert alert-error">
        <%= t('binda.standard_form_error_heading') %> <%= pluralize(f.object.errors.count, t("binda.standard_form_error")) %>.
      </div>
      <ul>
        <% f.object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="standard-form--body">

    <div class="standard-form--container">

      <div class="standard-form--header">
        <p>Edit User Details</p>
      </div>

      <%= f.input :email, label: "Email" %>

      <%= f.input :password, label: "Password" %>

      <%= f.input :password_confirmation, label: "Password confirmation" %>


      <% if !current_user.is_superadmin %>
        <h5>Administrator priviledges</h5>
        <%= f.input :is_superadmin, label: false, as: :radio_buttons %>
      <% end %>

    </div>

  </div>

  <div class="standard-form--sidebar">

    <div class="standard-form--header">
      <p><%= "#{ t :setting }".pluralize.capitalize %></p>
    </div>

    <div class="standard-form--container">

      <div class="standard-form--main-actions">
        <%= button_tag "<i class=\"fas fa-check\"></i>Save changes".html_safe, { class: 'b-btn b-btn-primary', id: 'save' } %>
      </div>

    </div>

  </div>

<% end %>

</div>

