<div class="row">
<div class="form-inputs col-sm-12">

<%= simple_form_for( @user, url: manage_users_path ) do |f| %>
  <%= f.error_notification %>
	
  <div class="row">
		<div class="col-sm-8">

			<div class="form-inputs--row row">
				<div class="col-sm-12">
				
					<h4>Edit User Details</h4>

					<h5>Email</h5>
			  	<%= f.input :email, label: false %>

					<h5>Password</h5>
			  	<%= f.input :password, label: false %>

					<h5>Password confirmation</h5>
			  	<%= f.input :password_confirmation, label: false %>

			  </div>
		  </div>
	  </div>

		<div class="col-sm-4">

			<div class="form-inputs--row row">
				<div class="col-sm-12">
					<h4>Publish</h4>
			    <%= f.button :submit, 'Save changes', class: 'btn btn-primary' %>
			  </div>
		  </div>

	  </div>
  </div>
<% end %>

</div>
</div>
