<div class="row">
<div class="form-body--container col-sm-12">

<%= simple_form_for manage_user, url: get_form_manage_user_url do |f| %>
  <% if manage_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize( manage_user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% manage_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
		<div class="col-sm-8">

			<div class="form-section--wide-container row">
				<div class="col-sm-12">
				
					<h4>Edit User Details</h4>

					<h5>Email</h5>
			  	<%= f.input :email, label: false %>

					<h5>Password</h5>
			  	<%= f.input :password, label: false %>

					<h5>Password confirmation</h5>
			  	<%= f.input :password_confirmation, label: false %>


			  	<% if !current_user.is_superadmin %>
						<h5>Administrator priviledges</h5>
				  	<%= f.input :is_superadmin, label: false, as: :radio_buttons %>
			  	<% end %>

			  </div>
		  </div>
	  </div>

		<div class="col-sm-4">

			<div class="form-section--narrow-container row">
				<div class="col-sm-12">
					<h4>Publish</h4>
					<div class="standard-form--main-actions">
					  <%= label_tag :submit, "<i class=\"fas fa-check\"></i>Save changes".html_safe, class: 'b-btn b-btn-primary', id: 'save' %>
					</div>

			  </div>
		  </div>

	  </div>
  </div>
<% end %>

</div>
</div>
