<% content_for :header do %>
  <div class="main-header--buttons">
    <%= link_to "<i class=\"fa fa-plus\" aria-hidden=\"true\"></i> New User".html_safe, new_manage_user_path, class: 'main-header--link b-btn b-btn-primary' %>
  </div>
  <h3>Manage Users</h3>
<% end %>

<% content_for :content do %>
  <div class="main-table--container">

    <table class="standard-form--container">
      <thead>
        <tr>
          <th style="width: 70%;" class="standard-form--header">Email</th>
          <th style="width: 30%;" class="standard-form--header"></th>
        </tr>
      </thead>
      <tbody>

        <% @users.order( :email ).each.with_index(1) do |manage_user, index| %>

          <tr>
            <td><%= manage_user.email %></td>
            <td class="main-table--actions">
              <%= link_to "<i class=\"fas fa-pencil-alt\"></i> Edit".html_safe, edit_manage_user_path( manage_user.id ) %>
              <%= link_to "<i class=\"far fa-trash-alt\"></i> Destroy".html_safe, manage_user_path( manage_user.id ), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-destroy'  %></td>
          </tr>

        <% end %>

      </tbody>
    </table>

    <%= link_to "<i class=\"fa fa-plus\" aria-hidden=\"true\"></i> New User".html_safe, new_manage_user_path, class: 'main-header--link b-btn b-btn-primary' %>

  </div>

<% end %>
