<h5><%= field_setting.name.capitalize %></h5>

<% unless field_setting.description.blank? %>
    <small class="text-muted"><%= field_setting.description %></small>
<% end %>


<%# INPUT %>
<% if @instance.has_string( field_setting.slug ) %>
    <% ff.input :name, input_html: { value: @instance.get_string( field_setting.slug ) }, as: :string %>
<% else %>
    <% ff.input :name, as: :string %>
<% end %>

<%= ff.input :parent_related_component_ids, collection: Binda::Structure.where( id: field_setting.accepted_structure_ids  ), as: :select, input_html: { multiple: true }, value_method: :id, checked: ff.object.parent_related_component_ids, include_blank: false, include_hidden: false %>
<%= ff.input :parent_related_board_ids, collection: Binda::Board.all, as: :select, input_html: { multiple: true }, value_method: :id, checked: ff.object.parent_related_board_ids, include_blank: false, include_hidden: false %>

<%= ff.input :field_setting_id, as: :hidden, input_html: { value: field_setting.id } %>
<%= ff.input :id, as: :hidden, input_html: { value: ff.object.id } %>
<%= ff.input :fieldable_id, as: :hidden %>
<%= ff.input :fieldable_type, as: :hidden %>