<%# HEADING %>
<h5><%= field_setting.name.capitalize %></h5>

<div class="fileupload" data-url="<%= url_for([@instance.structure, @instance, action: :upload]) %>">

  <span class="btn btn-primary fileinput-button">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Add image</span>
      <%= ff.input :image, input_html: { class: 'form-item--asset--uploader'} %>
      <%# ff.input :image, input_html: { multiple: true, class: 'form-item--asset--uploader'} %>
      <%= ff.input :image_cache, as: :hidden %>
      <%= ff.input :field_setting_id, as: :hidden, input_html: { value: field_setting.id } %>
      <%= ff.input :id, as: :hidden, input_html: { value: ff.object.id } %>
      <%= ff.input :fieldable_id, as: :hidden %>
      <%= ff.input :fieldable_type, as: :hidden %>
  </span>   
  <!-- The global progress bar -->
  <div class="fileupload--details fileupload--details--hidden">
	  <div class="progress">
	    <div class="progress-bar progress-bar-striped"></div>
	  </div>
	  <!-- The container for the uploaded files -->
	  <div class="fileupload--files">
	  	<p class="fileupload--filename">&nbsp;</p>
	  </div>
  </div>

	<% if ff.object.image.present? %>
	  <%= image_tag ff.object.image.thumb.url, class: 'form-item--asset--image' %>
	<% end %>

	<% unless field_setting.description.blank? %>
		<small class="text-muted"><%= field_setting.description %></small>
	<% end %>

</div>

<div class="form-item--asset--clearfix"></div>
