<div id="standard-form--<%= field_setting.field_type %>-<%= field_setting.id %>" class="standard-form--<%= field_setting.field_type %> form-item">	
		<% if field_setting.choices.any? %>
			<% if field_setting.field_type === 'radio' %>
				<%= render 'binda/fieldable/form_item_selections/form_item_radio', f: f, field_setting: field_setting %>
			<% elsif field_setting.field_type === 'selection' %>
				<%= render 'binda/fieldable/form_item_selections/form_item_selection', f: f, field_setting: field_setting %>
			<% elsif field_setting.field_type === 'checkbox' %>
				<%= render 'binda/fieldable/form_item_selections/form_item_checkbox', f: f, field_setting: field_setting %>
			<% end %>
		<% else %>
			<p class="form-group">
				<%= t('binda.no_available_choice') %>
				<% if current_user.is_superadmin %> 
					<%= t('binda.no_available_choice_superadmin_hint') %>
					<a href="<%= edit_structure_field_group_path( structure_id: @structure.id, id: field_setting.field_group.id )%>">
						<%= field_setting.field_group.name %>
						<%= t('binda.field_group.singular').downcase %>
					</a>
				<% else %>
					<%= t('binda.no_available_choice_user_hint') %>
				<% end %>
			</p>
		<% end %>
</div>