<div id="standard-form--image-<%= field_setting.id %>" class="standard-form--image form-item">
  <div id="fileupload-<%= ff.object.id %>" 
    class="fileupload form-group"
    data-message="<%= t('binda.upload_loading_message') %>"
    data-error="<%= t('binda.upload_error_message')%>">
    <p class="control-label">
        <%= field_setting.name %>    
    </p>
    <% image = ff.object.image.thumb.url if ff.object.image.present? %>
    <div class="fileupload--field">
      <% # TODO test! %>
      <% check_field_errors(ff.object, :image) unless @fields_errors.nil? %>
      <% if ff.object.field_setting.read_only? %>
        <%= ff.input :image, 
          label: "<i class=\"fa fa-upload\" aria-hidden=\"true\"></i> #{t('binda.choose_file_button')}".html_safe, 
          hint: field_setting.description.nil? ? false : field_setting.description.html_safe, 
          url: url_for([ff.object, action: :remove_image]).html_safe,
          disabled: field_setting.read_only?,
          object: ff.object,
          wrapper: :file_read_only,
          input_html: {
            'data-url': url_for([
              @instance.structure, 
              @instance, 
              action: :upload, 
              repeater: { id: "#{field_setting.parent_id}" }]),
            'data-id': ff.object.id
          } %>
      <% else %>
        <%= ff.input :image, 
          label: "<i class=\"fa fa-upload\" aria-hidden=\"true\"></i> #{t('binda.choose_file_button')}".html_safe, 
          hint: field_setting.description.nil? ? false : field_setting.description.html_safe, 
          url: url_for([ff.object, action: :remove_image]).html_safe,
          disabled: field_setting.read_only?,
          object: ff.object,
          wrapper: :file_uploadable,
          input_html: {
            'data-url': url_for([
              @instance.structure, 
              @instance, 
              action: :upload, 
              repeater: { id: "#{field_setting.parent_id}" }]),
            'data-id': ff.object.id 
          } %>
      <% end %>
    </div>
    <%= ff.input :image_cache, as: :hidden %>
    <%= ff.input :field_setting_id, as: :hidden, input_html: { value: field_setting.id } %>
    <%= ff.input :id, as: :hidden, input_html: { value: ff.object.id } %>
    <%= ff.input :fieldable_id, as: :hidden %>
    <%= ff.input :fieldable_type, as: :hidden %>
    <div class="clearfix"></div>
  </div>
</div>
