<div id="standard-form--repeater-<%= repeater_setting.id %>" class="form-item--label-on-left form-item--repeater-section standard-form--repeater">
	<h5 class="form-item--repeater-title">
		<a class="sortable--toggle" href="#" data-repeater-id="form-item--repeater-setting-<%= repeater_setting.id %>">
			<span class="sortable--toggle-text">Done</span>
			<span class="sortable--toggle-text">Sort items</span>
			<span class="glyphicon glyphicon-sort"></span>
		</a>
		<%= repeater_setting.name %> 
	</h5>

	<ul id="form-item--repeater-setting-<%= repeater_setting.id %>" class="sortable sortable--disabled" data-update-url="<%= url_for([@structure, @instance, :sort_repeaters]) %>">

		<% if repeaters.size == 0 %>

			<% repeater = @instance.find_or_create_a_field_by( repeater_setting.id, 'repeater' ) %>
			
			<li id="repeater_<%= repeater.id %>" class="form-item--repeater">

				<%# - - - - - - - - - - - - %>
				<%# REPEATER HEADER         %>
				<%# - - - - - - - - - - - - %>
				<div class="form-item--repeater-header">
					<a class="form-item--delete-repeater-item" href="<%= repeater_path( id: repeater.id ) %>" data-confirm="<%= t 'binda.confirm_delete' %>"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
					<p>ID #<%= repeater.id %></p>
				</div>

				<%# - - - - - - - - - - - - - - %>
				<%# FIRST REPEATER              %>
				<%# - - - - - - - - - - - - - - %>
				<div class="form-item--repeater-fields">
			    <%= f.simple_fields_for "repeaters_attributes[]", repeater do |ff| %>
						<%= ff.input :fieldable_id, as: :hidden %>
						<%= ff.input :fieldable_type, as: :hidden %>
			    	<%= ff.input :field_setting_id, as: :hidden, input_html: { value: repeater_setting.id } %>
						<%= ff.input :id, as: :hidden, input_html: { value: ff.object.id } %>
						<% repeater_setting.children.order( :position, :id ).each do |repeater_setting_child| %>
						  <%= render "binda/fieldable/form_section_repeater", f: ff, repeater_setting_child: repeater_setting_child %>
					  <% end %>
					<% end %>
				</div>
			</li>

		<% else %>

		  <% repeaters.each do |repeater| %>
				<li id="repeater_<%= repeater.id %>" class="form-item--repeater">

					<%# - - - - - - - - - - - - %>
					<%# REPEATER HEADER         %>
					<%# - - - - - - - - - - - - %>
					<div class="form-item--repeater-header">
						<a class="form-item--delete-repeater-item" href="<%= repeater_path( id: repeater.id ) %>" data-id="<%= repeater.id %>" data-confirm="<%= t 'binda.confirm_delete' %>"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
						<p>ID #<%= repeater.id %></p>
					</div>
					<%# - - - - - - - - - - - - - - %>
					<%# EACH REPEATER               %>
					<%# - - - - - - - - - - - - - - %>
					<div class="form-item--repeater-fields">
				    <%= f.simple_fields_for "repeaters_attributes[]", repeater do |ff| %>
				    	<%= ff.input :field_setting_id, as: :hidden, input_html: { value: ff.object.field_setting.id } %>
							<%= ff.input :id, as: :hidden, input_html: { value: ff.object.id } %>
							<%= ff.input :fieldable_id, as: :hidden %>
							<%= ff.input :fieldable_type, as: :hidden %>
							<% ff.object.field_setting.children.order( :position, :id ).each do |repeater_setting_child| %>
							  <%= render "binda/fieldable/form_section_repeater", f: ff, repeater_setting_child: repeater_setting_child, repeater: repeater %>
						  <% end %>
					  <% end %>
					</div>

				</li>
		  <% end %>

		<% end %>
	</ul>

</div>


<%# - - - - - - - - - - - - - - %>
<%# ADD NEW REPEATER FIELDS     %>
<%# - - - - - - - - - - - - - - %>
<a id="form-item--repeater-<%= repeater_setting.id %>--add-new-button" class="form-item--repeater-section--add-new main-header--link btn btn-default" href="#" data-url="<%= url_for([@structure, @instance, :new_repeater]) %>" data-id="<%= repeater_setting.id %>">
  <%= t(:new_item_in_repeater, arg1: repeater_setting.name.capitalize ) %>
</a>
<hr>