<div id="standard-form--image-<%= field_setting.id %>" class="standard-form--image">
  <div id="fileupload-<%= ff.object.id %>" 
    class="fileupload form-group">

    <p class="control-label"><%= field_setting.name.capitalize %></p>

    <% image = ff.object.image.thumb.url if ff.object.image.present? %>
    <div class="fileupload--dashboard">

      <%= ff.input :image, 
        label: "<i class=\"fa fa-upload\" aria-hidden=\"true\"></i> #{t('binda.choose_file_button')}".html_safe, 
        hint: field_setting.description, 
        url: url_for([ff.object, action: :remove_image]).html_safe,
        object: ff.object,
        wrapper: false,
        input_html: {
          'data-url': url_for([@instance.structure, @instance, action: :upload]),
          'data-id': ff.object.id 
        } %>
      
    </div>

    <%= ff.input :image_cache, as: :hidden %>
    <%= ff.input :field_setting_id, as: :hidden, input_html: { value: field_setting.id } %>
    <%= ff.input :id, as: :hidden, input_html: { value: ff.object.id } %>
    <%= ff.input :fieldable_id, as: :hidden %>
    <%= ff.input :fieldable_type, as: :hidden %>
    <div class="clearfix"></div>

  </div>
</div>