<div id="standard-form--audio-<%= field_setting.id %>" class="standard-form--audio form-item">
	<div id="fileupload-<%= ff.object.id %>" 
		class="fileupload form-group"
		data-message="<%= t('binda.upload_loading_message') %>"
		data-error="<%= t('binda.upload_error_message')%>">

		<p class="control-label"><%= field_setting.name %></p>

		<div class="fileupload--field">

			<%= ff.input :audio, 
				label: "<i class=\"fa fa-upload\" aria-hidden=\"true\"></i> #{t('binda.choose_file_button')}".html_safe, 
				hint: field_setting.description.nil? ? false : field_setting.description.html_safe, 
				url: url_for([ff.object, action: :remove_audio]).html_safe,
				object: ff.object,
				wrapper: false,
				input_html: { 
					class: 'form-item--audio--uploader',
					'data-url': url_for([@instance.structure, @instance, action: :upload]),
					'data-id': ff.object.id,
				} %>

		</div>

		<%= ff.input :audio_cache, as: :hidden %>
		<%= ff.input :field_setting_id, as: :hidden, input_html: { value: field_setting.id } %>
		<%= ff.input :id, as: :hidden, input_html: { value: ff.object.id } %>
		<%= ff.input :fieldable_id, as: :hidden %>
		<%= ff.input :fieldable_type, as: :hidden %>
		<div class="clearfix"></div>

	</div>
</div>