<div id="standard-form--text-<%= field_setting.id %>" class="standard-form--text form-item">

	<%= ff.input :content, 
				input_html: { value: ff.object.content, class: 'tinymce' }, 
				as: :text,
				hint: field_setting.description.html_safe,
				label: field_setting.name %>

	<%= ff.input :field_setting_id, as: :hidden, input_html: { value: field_setting.id } %>
	<%= ff.input :id, as: :hidden, input_html: { value: ff.object.id } %>
	<%= ff.input :fieldable_id, as: :hidden %>
	<%= ff.input :fieldable_type, as: :hidden %>

</div>