<div class="popup-warning popup-warning--hidden">
    <div class="popup-warning--loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <p><%= t 'binda.upload_loading_message' %></p>
</div>

<%= simple_form_for [ @instance.structure, @instance ], html: { class: 'form-body', multipart: true } do |f| %>

  <%= f.error_notification %>

  <% if f.object.errors.any? %>
  <div class="standard-form--error-explanation">
    <div class="alert alert-error">
      <%= t('binda.standard_form_error_heading') %> <%= pluralize(f.object.errors.count, t("binda.standard_form_error")) %>.
    </div>
    <ul>
      <% f.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <%# - - - - - - - - - - - - %>
  <%# SET POSITION            %>
  <%# - - - - - - - - - - - - %>
  <% unless f.object.new_record? %>
    <%= f.input :position, as: :hidden %>
  <% end %>

  <div class="standard-form--body">

    <%# - - - - - - - - - - - - %>
    <%# NOTICE / ERRORS         %>
    <%# - - - - - - - - - - - - %>
    <div class="standard-form--container">

        <div class="standard-form--header">
          <p><%= "#{ t :details }".capitalize %></p>
        </div>

        <div class="standard-form--fields">

          <%= f.input :name, label: "#{t('binda.title')}".capitalize %>

          <% if f.object.slug.nil? %>
            <%= f.input :slug, as: :hidden %>
          <% else %>
            <%= f.input :slug, disabled: true, hint: "#{ t :slug_disable_hint }" %>
          <% end %>

          <%= f.input :structure_id, as: :hidden, input_html: { value: @structure.id } %>

        </div>

    </div>

    <%# - - - - - - - - - - - - %>
    <%# FIELD GROUP LOOP        %>
    <%# - - - - - - - - - - - - %>
    <% @structure.field_groups.order( :position, :name ).each_with_index do |field_group, index| %>

      <div class="standard-form--container">

          <div class="standard-form--header">
            <p><%= field_group.name.capitalize %></p>
          </div>

          <% if f.object.new_record? %>

            <p><%= t( :hint_create_parent_before_child, arg1: "#{@structure.name} #{@structure.instance_type}", arg2: "#{ t :detail }" ).capitalize %></p>

          <% else %>

            <% field_group.field_settings.order( :position, :name ).each do |field_setting| %>
              <% next unless field_setting.is_root? %>
              <%= render "binda/fieldable/form_section", f: f, field_setting: field_setting %>
            <% end %>

          <% end %>

      </div>

    <% end %>
  </div>

  <%# - - - - - - - - - - - - %>
  <%# SIDEBAR                 %>
  <%# - - - - - - - - - - - - %>
  <div class="standard-form--container standard-form--sidebar">

    <%= render "binda/fieldable/form_sidebar", f: f %>

  </div>

<% end %>
