<div id="standard-form--date-<%= field_setting.id %>"  class="standard-form--date">	
	<%= ff.input :date, as: :date, start_year: Date.today.year - 200, end_year: Date.today.year + 200, hint: field_setting.description, label: field_setting.name.capitalize %>
	<%= ff.input :field_setting_id, as: :hidden, input_html: { value: field_setting.id } %>
	<%= ff.input :id, as: :hidden, input_html: { value: ff.object.id } %>
	<%= ff.input :fieldable_id, as: :hidden %>
	<%= ff.input :fieldable_type, as: :hidden %>
</div>
