<div class="row">
<div class="form-inputs col-sm-12">

<%= simple_form_for 'dashboard', url: dashboard_path, defaults: { label: false } do |f| %>

  <%# render 'layouts/binda/flash' %>

  <div class="row">
    <div class="col-sm-8">

      <div class="form-inputs--row form-inputs--wide row">
        <div class="col-sm-12">

          <h4><%= "#{ t :dashboard_title }".capitalize %></h4>

          <%= f.simple_fields_for 'settings[]', dashboard.website_name do |website_name| %>          
            <h5><%= website_name.object.name.capitalize %></h5>
            <%= website_name.input :content, as: :string %>
            <%= website_name.input :id, as: :hidden %>
          <% end %>

          <%= f.simple_fields_for 'settings[]', dashboard.website_description do |website_description| %>          
            <h5><%= website_description.object.name.capitalize %></h5>
            <%= website_description.input :content, as: :string %>
            <%= website_description.input :id, as: :hidden %>
          <% end %>

          <%= f.simple_fields_for 'settings[]', dashboard.maintenance_mode do |maintenance_mode| %>          
            <h5><%= maintenance_mode.object.name.capitalize %></h5>
            <%= maintenance_mode.input :is_true, as: :radio_buttons %>
            <%= maintenance_mode.input :id, as: :hidden %>
          <% end %>

        </div>
      </div>

    </div>
    <div class="col-sm-4">
      <div class="form-inputs--row form-inputs--narrow row">
        <div class="col-sm-12">
          <div class="form-actions">
            <h4>Settings</h4>
            <%= f.button :submit, 'Save changes', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
<% end %>

</div>
</div>