<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @setting.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @setting.content %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @setting.slug %>
</p>

<p>
  <strong>Position:</strong>
  <%= @setting.position %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
