<%= render 'layouts/binda/popup_warning' %>
<div class="standard-form">
  <%= simple_form_for @field_group, url: get_form_field_group_url, html: { class: 'form-body' } do |f| %>
    <%= f.error_notification %>
    <%= render 'layouts/binda/form_errors', f: f %>
    <div class="standard-form--body">
      <%= render "form_header", f: f %>
      <%= render "form_section", f: f %>
      <% @field_group.field_settings.where( field_type: 'repeater' ).order( :position, :id ).each do |repeater| %>
        <%= render "form_section_repeater", f: f, repeater: repeater %>
      <% end %>
    </div>
    <div class="standard-form--sidebar">
      <%= render "form_sidebar" %>
    </div>
  <% end %>
</div>