<%# - - - - - - - - - - - - %>
<%# CHOICES                 %>
<%# - - - - - - - - - - - - %>
<div class="field-setting-choices--header field-settings-header">
	<a href="#" class="field-setting-choices--toggle-choice field-setting-choices--add-choice" data-choices-id="field-setting-choices-<%= ff.object.id %>">
		<i class="fa fa-plus" aria-hidden="true"></i> <%= t(:add_choice).capitalize %>
	</a>
	<p class="control-label"><%= t(:choices).capitalize %></p>
</div>

<div id="field-setting-choices-<%= ff.object.id %>" class="field-setting-choices">
	
	<%# - - - - - - - - - - - - %>
	<%# NEW CHOICE              %>
	<%# - - - - - - - - - - - - %>
	<%= f.simple_fields_for "new_choices[]", ff.object.choices.build(), defaults: {label: false}  do |fff| %>
	  <div class="field-setting-choices--choice field-setting-choices--new-choice">
			<%= fff.association :field_setting, as: :hidden %>
	  	<div class="field-setting-choices--choice-label">
				<%= fff.input :label, placeholder: t('binda.choice_label') %>
			</div>
			<div class="field-setting-choices--choice-value">
				<%= fff.input :value, placeholder: t('binda.choice_value')  %>
			</div>
			<a href="#" class="field-setting-choices--toggle-choice field-setting-choices--js-delete-choice">
				<i class="far fa-trash-alt"></i>
			</a>
			<div class="clearfix"></div>
	  </div>
	<% end %>

	<%= ff.simple_fields_for :choices, ff.object.choices.order( :label ), defaults: {label: false} do |fff| %>
	  <div id="field-setting-choices--choice-<%= fff.object.id %>" class="field-setting-choices--choice">
			<%= fff.input :id, as: :hidden %>
			<%= fff.association :field_setting, as: :hidden %>
	  	<div class="field-setting-choices--choice-label">
				<%= fff.input :label, placeholder: t('binda.choice_label') %>
			</div>
			<div class="field-setting-choices--choice-value">
				<%= fff.input :value, placeholder: t('binda.choice_value')  %>
			</div>
			<a href="<%= choice_path( fff.object ) %>" class="field-setting-choices--delete-choice">
				<i class="far fa-trash-alt"></i>
			</a>
			<div class="clearfix"></div>
	  </div>
	<% end %>

	<%# - - - - - - - - - - - - %>
	<%# DEFAULT INITIAL CHOICE  %>
	<%# - - - - - - - - - - - - %>
	<% unless ff.object.choices.find_all{|c| c.persisted? }.any? %>
		<%= f.simple_fields_for "new_choices[]", ff.object.choices.build(), defaults: {label: false} do |fff| %>
		  <div class="field-setting-choices--choice">
				<%= fff.association :field_setting, as: :hidden %>
		  	<div class="field-setting-choices--choice-label">
					<%= fff.input :label, placeholder: t('binda.choice_label') %>
				</div>
				<div class="field-setting-choices--choice-value">
					<%= fff.input :value, placeholder: t('binda.choice_value')  %>
				</div>
				<a href="#" class="field-setting-choices--toggle-choice field-setting-choices--js-delete-choice">
					<i class="far fa-trash-alt"></i>
				</a>
				<div class="clearfix"></div>
		  </div>
		<% end %>
	<% end %>

</div>

<div class="clearfix"></div>


<%# - - - - - - - - - - - - %>
<%# DEFAULT CHOICE          %>
<%# - - - - - - - - - - - - %>
<% if ff.object.choices.find_all{|c| c.persisted? }.any? %>
	<div class="form-item--full-size">
		<%= ff.input :default_choice_id, 
		    as: :select, collection: ff.object.choices.find_all{|c| c.persisted? }, 
		    label_method: :label, 
		    include_blank: false, 
		    selected: ff.object.default_choice_id, 
		    hint: t(:default_choice_description),
		    input_html: {class: 'select2-item'} %>
	</div>
<% end %>


<% if ff.object.field_type == 'checkbox' %>
	<%# - - - - - - - - - - - - %>
	<%# ALLOW NULL              %>
	<%# - - - - - - - - - - - - %>
	<div class="form-item--full-size standard-form--checkbox field-setting-choices--allow-null">
		<%= ff.input :allow_null, 
				as: :radio_buttons,
				label: t('binda.allow_null'),
				collection: [[t('binda.allow_null_true'), true], [t('binda.allow_null_false'), false]],
				label_method: -> (x){ "<span class=\"standard-form--input-box\"></span>#{x[0]}".html_safe },
		    checked: ff.object.allow_null, 
		    default: false %>
	</div>
<% end %>