<%# - - - - - - - - - - - - %>
<%# FORM ITEMS              %>
<%# - - - - - - - - - - - - %>
<%= f.simple_fields_for :field_settings, repeater.children.order( :position ) do |ff| %>
	<div class="form-item <%= "form-item--#{ ff.object.field_type }" unless ff.object.field_type.nil? %>">
	  <%= render 'form_item', f: f, ff: ff %>
	</div>
<% end %>

<%# - - - - - - - - - - - - %>
<%# NEW FORM ITEM           %>
<%# - - - - - - - - - - - - %>
<%= f.simple_fields_for 'new_field_settings[]', repeater.children.build( field_group: @field_group ) do |ff| %>
  <div id="new-child--repeater-<%= repeater.id %>" class="form-item form-item--new">
    <%= render 'form_item', f: f, ff: ff %>
  </div>
<% end %>


<%# - - - - - - - - - - - - - - %>
<%# ADD NEW FIELD TO REPEATER   %>
<%# - - - - - - - - - - - - - - %>
<a class="form-item--add-new main-header--link btn btn-default" data-new-child-id="new-child--repeater-<%= repeater.id %>">
  <%= t :new_item_in_repeater, arg1: repeater.name.capitalize %>
</a>