<div class="row">
<div class="form-body--container col-sm-12">

<%= simple_form_for @field_group, url: get_form_field_group_url, defaults: { label: false }, html: { class: 'form-body' } do |f| %>

  <% if @field_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize( @field_group.errors.count, "error") %> prohibited this field_group from being saved:</h2>

      <ul>
      <% @field_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-section--wide-container row">
        <div class="col-sm-12">

          <h4><%= "#{ t :details }".capitalize %></h4>
          
          <h5><%= "#{ t :title }".capitalize %></h5>
          <%= f.input :name %>
          
          <% if @field_group.slug.nil? %>
            <%= f.input :slug, as: :hidden %>
          <% else %>
            <h5><%= "#{ t :slug }".capitalize %></h5>
            <%= f.input :slug, disabled: true, hint: "#{ t :slug_disable_hint }" %>
          <% end %>

        </div>
      </div>
      <div id="form-section--field-group-<%= @field_group.id %>" class="form-section--wide-container row">
        <div class="col-sm-12 form-section">

          <%= render "form_section", f: f %>
        
        </div>
      </div>
      <% @field_group.field_settings.where( field_type: 'repeater' ).order( :position, :id ).each do |repeater| %>
        <div id="form-section--repeater-<%= repeater.id %>" class="form-section--wide-container row">
          <div class="col-sm-12 form-section">
          
            <h4><%= repeater.name.capitalize %></h4>

            <%= render "form_section_repeater", f: f, repeater: repeater %>

          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4">
      <div class="form-section--narrow-container row">
        <div class="col-sm-12">
          <div class="form-actions">
            
            <h4><%= "#{ t :setting }".pluralize.capitalize %></h4>
            <%= f.button :submit, 'Save changes', class: 'btn btn-primary', id: 'save', 'data-entries-number': "Binda::#{@structure.instance_type.capitalize}".constantize.where(structure_id:@structure.id).count, 'data-instance-type': @structure.instance_type.pluralize %>

          </div>
        </div>
      </div>
    </div>
<% end %>

</div>
</div>