<div class="standard-form--container field-settings-container form-item--collapsable form-item--collapsed">
	<%= ff.input :field_group_id, as: :hidden %>
	<%= ff.input :id, as: :hidden %>
	<%= ff.input :ancestry, as: :hidden unless ff.object.is_root? %>
	<div class="standard-form--secondary-header form-item--header form-item--repeater-header">
		<% if ff.object.slug.nil? %>
			<a class="form-item--delete-repeater-item form-item--remove-item-with-js"
		     data-confirm="<%= t('binda.field_setting.confirm_delete')%>">
				<i class="far fa-trash-alt"></i> 
				<%= t('binda.delete').capitalize %>
		  </a>
		  <p><%= t('binda.new_item_in_repeater', { arg1: '' })%></p>
		<% else %>
			<a class="form-item--collapse-btn" href="#">
				<span><i class="fas fa-angle-up"></i> <%= t('binda.collapse') %></span>
				<span><i class="fas fa-angle-down"></i> <%= t('binda.expand') %></span>
			</a>
			<a href="<%= structure_field_group_field_setting_path( @structure, @field_group, ff.object ) %>"
				class="form-item--delete-repeater-item"
				data-method="delete"
				data-confirm="<%= t('binda.confirm_delete') %>">
				<i class="far fa-trash-alt"></i> 
				<%= t('binda.delete').capitalize %>
			</a>
      <p>
      	<%= ff.object.name %> (<%= ff.object.field_type.humanize.capitalize %>)
      </p>
		<% end %>
  </div>
	<div class="form-item--editor">
		<div class="form-item--half-size">
			<%= ff.input :name, as: :string, input_html: { class: "form-item--input" } %>
		</div>
		<% if ff.object.new_record? %>
			<%= ff.input :slug, as: :hidden, input_html: { class: "form-item--input" } %>
	    <div class="form-item--half-size">
	      <% if ff.object.field_type.nil? %>
	        <%= ff.input :field_type, as: :select, collection: get_field_types, include_blank: false, prompt: t(:select_field_type), input_html: { class: 'form-item--select-input' } %>
	      <% else %>
	        <%= ff.input :field_type, as: :string, disabled: true, input_html: { class: "form-item--input" } %>
	      <% end %>
	    </div>
		<% else %>
			<div class="form-item--half-size">
				<%= ff.input :slug, as: :string, input_html: { class: "form-item--input" } %>
			</div>
	    <div class="form-item--full-size">
	      <% if ff.object.field_type.nil? %>
	        <%= ff.input :field_type, as: :select, collection: get_field_types, include_blank: false, prompt: t(:select_field_type), input_html: { class: 'form-item--select-input' } %>
	      <% else %>
	        <%= ff.input :field_type, as: :string, disabled: true, input_html: { class: "form-item--input" } %>
	      <% end %>
	    </div>
			<div class="form-item--full-size">
				<%= ff.input :description, input_html: { class: "form-item--input" } %>
			</div>
			<div class="form-item--full-size">
				<%= ff.input :position, as: :integer, input_html: { class: "form-item--input" } %>
			</div>
			<% if ff.object.field_type == 'relation' %>
		    <div class="form-item--full-size">
		      <%= ff.input :accepted_structure_ids, 
		      		collection: Binda::Structure.all, 
		      		as: :select, 
		      		input_html: { multiple: true, class: 'select2-item' }, 
		      		checked: ff.object.accepted_structures, 
		      		include_blank: false, 
		      		include_hidden: false %>
		    </div>
	    <% end %>
			<% choiceables = ['radio', 'selection', 'checkbox'] %>
			<% if choiceables.include? ff.object.field_type %>
				<%= render 'form_item_choice', f: f, ff: ff  %>
			<% end %>
		<% end %>
		<div class="clearfix"></div>
	</div>
</div>

