<%# - - - - - - - - - - - - %>
<%# FORM ITEM               %>
<%# - - - - - - - - - - - - %>
<%# This form is only for settings which are not part of any repeater. %>
<%# This is done using `where( ancestry: nil )` %>
<%= f.simple_fields_for :field_settings, f.object.field_settings.where( ancestry: nil ).order( :position, :name ) do |ff| %>
  <div id="form-item-<%= ff.object.id %>" class="form-item <%= "form-item--#{ ff.object.field_type }" unless ff.object.field_type.nil? %>">
    <%= render 'form_item', f: f, ff: ff %>
  </div>
<% end %>


<%# - - - - - - - - - - - - %>
<%# NEW FORM ITEM           %>
<%# - - - - - - - - - - - - %>
<%= f.simple_fields_for 'new_field_settings[]', @field_group.field_settings.build( field_group: @field_group ) do |ff| %>
  <div id="field-group-<%= f.object.id %>--new-form-item" class="form-item form-item--new">
    <%= render 'form_item', f: f, ff: ff %>
  </div>
<% end %>

<%# - - - - - - - - - - - - - - %>
<%# 'ADD NEW FORM ITEM' BUTTON  %>
<%# - - - - - - - - - - - - - - %>
<% if @field_group.slug.nil? %>
  <p>
    <%= t( :hint_create_parent_before_child, arg1: "#{ t :field_group }", arg2: "#{ t :field_setting }" ).capitalize %>  
  </p>
<% else %>
  <a id="form-item--field-group-<%= f.object.id %>--add-new" class="form-item--add-new main-header--link b-btn b-btn-primary b-btn-settings" href="<%= new_structure_field_group_field_setting_path( field_group_id: @field_group.slug ) %>" data-new-form-item-id="field-group-<%= f.object.id %>--new-form-item">
    <%= "<i class=\"fa fa-plus\" aria-hidden=\"true\"></i> #{ t(:new).capitalize }".html_safe %> <%= t :field_setting %>
  </a>
<% end %>