<%= ff.input :field_group_id, as: :hidden %>
<%= ff.input :id, as: :hidden %>
<%= ff.input :ancestry, as: :hidden unless ff.object.is_root? %>

<%# - - - - - - - - - - - - %>
<%# REMOVE BUTTON           %>
<%# - - - - - - - - - - - - %>
<% if ff.object.slug.nil? %>
	<a class="form-item--remove-item-with-js"
     data-confirm="This operation will delete this setting and all related component content. Are you ok with that?">

    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
<% else %>

  <div class="standard-form--container field-settings-container">

    <div class="standard-form--secondary-header field-settings-header">
      <p><%= ff.object.name %> (<%= ff.object.field_type.humanize.capitalize %>)</p>

      <a class="form-item--toggle-button form-item--toggle-button-closed">

        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>


      <%= link_to "<i class=\"far fa-trash-alt\"></i>".html_safe,
                  structure_field_group_field_setting_path( @structure, @field_group, ff.object ),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'text-destroy' %>
    </div>

  </div>

<% end %>

<div class="form-item--editor">

	<%# - - - - - - - - - - - - %>
	<%# NAME                    %>
	<%# - - - - - - - - - - - - %>
	<div class="form-item--half-size">

		<%= ff.input :name, as: :string, input_html: { class: "form-item--input" } %>
	</div>


	<% if ff.object.new_record? %>

		<%# - - - - - - - - - - - - %>
		<%# SLUG                    %>
		<%# - - - - - - - - - - - - %>
		<div class="form-item--half-size">
			<%= ff.input :slug, as: :hidden, input_html: { class: "form-item--input" } %>
		</div>

    <%# - - - - - - - - - - - - %>
    <%# FIELD TYPE              %>
    <%# - - - - - - - - - - - - %>
    <div class="form-item--full-size">

      <% if ff.object.field_type.nil? %>
        <%= ff.input :field_type, as: :select, collection: get_field_types, include_blank: false, prompt: t(:select_field_type), input_html: { class: 'form-item--select-input' } %>
      <% else %>
        <%= ff.input :field_type, as: :string, disabled: true, input_html: { class: "form-item--input" } %>
      <% end %>
    </div>

	<% else %>

		<%# - - - - - - - - - - - - %>
		<%# SLUG                    %>
		<%# - - - - - - - - - - - - %>
		<div class="form-item--half-size">
			<%= ff.input :slug, as: :string, input_html: { class: "form-item--input" } %>
		</div>

    <%# - - - - - - - - - - - - %>
    <%# FIELD TYPE              %>
    <%# - - - - - - - - - - - - %>
    <div class="form-item--full-size">

      <% if ff.object.field_type.nil? %>
        <%= ff.input :field_type, as: :select, collection: get_field_types, include_blank: false, prompt: t(:select_field_type), input_html: { class: 'form-item--select-input' } %>
      <% else %>
        <%= ff.input :field_type, as: :string, disabled: true, input_html: { class: "form-item--input" } %>
      <% end %>
    </div>

		<%# - - - - - - - - - - - - %>
		<%# DESCRIPTION             %>
		<%# - - - - - - - - - - - - %>
		<div class="form-item--full-size">
			<%= ff.input :description, input_html: { class: "form-item--input" } %>
		</div>

		<%# - - - - - - - - - - - - %>
		<%# POSITION                %>
		<%# - - - - - - - - - - - - %>
		<div class="form-item--full-size">
			<%= ff.input :position, as: :integer, input_html: { class: "form-item--input" } %>
		</div>

    <%# - - - - - - - - - - - - %>
    <%# ACCEPTED STRUCTURES     %>
    <%# - - - - - - - - - - - - %>
		<% if ff.object.field_type == 'relation' %>
	    <div class="form-item--full-size">
	      <%= ff.input :accepted_structure_ids, 
	      		collection: Binda::Structure.all, 
	      		as: :select, 
	      		input_html: { multiple: true, class: 'select2-item' }, 
	      		checked: ff.object.accepted_structures, 
	      		include_blank: false, 
	      		include_hidden: false %>
	    </div>
    <% end %>


		<% choiceables = ['radio', 'selection', 'checkbox'] %>
		<% if choiceables.include? ff.object.field_type %>

			<%# - - - - - - - - - - - - %>
			<%# CHOICES                 %>
			<%# - - - - - - - - - - - - %>
			<%= render 'form_item_choice', f: f, ff: ff  %>

		<% end %>

	<% end %>
	<div class="clearfix"></div>

</div>

