<div class="row">
<div class="form-inputs col-sm-12">

<%= simple_form_for field_group , defaults: { label: false } do |f| %>
  <% if field_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize( field_group.errors.count, "error") %> prohibited this field_group from being saved:</h2>

      <ul>
      <% field_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-8">

      <div class="form-inputs--row row">
        <div class="col-sm-12">

          <h4>Page Details</h4>
          
          <h5>Title</h5>
          <%= f.input :name %>
          
          <h5>Slug</h5>
          <%= f.input :slug %>

        </div>
      </div>

    </div>
    <div class="col-sm-4">
      <div class="form-inputs--row row">
        <div class="col-sm-12">
          <div class="form-actions">
            <h4>Setting</h4>
            <hr>
            <%= f.button :submit, 'Save changes', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
<% end %>

</div>
</div>