<div class="standard-form">

<%= simple_form_for @field_group, url: get_form_field_group_url, html: { class: 'form-body' } do |f| %>

  <%= f.error_notification %>
  
  <% if f.object.errors.any? %>
    <div class="standard-form--error-explanation">
      <div class="alert alert-error">
        <%= t('binda.standard_form_error_heading') %> <%= pluralize(f.object.errors.count, t("binda.standard_form_error")) %>.
      </div>
      <ul>
        <% f.object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="standard-form--body">

    <div class="standard-form--container">

      <div class="standard-form--header">
        <p><%= "#{ t :details }" %></p>
      </div>

      <%= f.input :name, label: "#{ t :title }" %>

      <% if @field_group.slug.nil? %>
        <%= f.input :slug, as: :hidden %>
      <% else %>
        <%= f.input :slug %>
      <% end %>

    </div>

    <div class="standard-form--container">

      <div id="form-section--field-group-<%= @field_group.id %>" class="form-section--wide-container">
        
        <div class="standard-form--header">
          <p><%= "#{ t 'binda.field_settings' }".pluralize %></p>
        </div>
        
        <%= render "form_section", f: f %>

      </div>

      <% @field_group.field_settings.where( field_type: 'repeater' ).order( :position, :id ).each do |repeater| %>
        <div id="form-section--repeater-<%= repeater.id %>" class="form-section--wide-container">
          <div class="form-section">

            <div class="standard-form--header field-settings-header">
              <p><%= "#{ t('binda.repeater_field_settings', arg1: repeater.name ) }" %></p>
            </div>

            <%= render "form_section_repeater", f: f, repeater: repeater %>

          </div>
        </div>
      <% end %>

    </div>

  </div>

  <div class="standard-form--sidebar">

    <div class="standard-form--container">

      <div class="standard-form--header">
        <p><%= "#{ t :setting }".pluralize %></p>
      </div>

      <div class="standard-form--main-actions">

        <%= button_tag '<i class="fas fa-check"></i>Save changes'.html_safe, {
            class: 'b-btn b-btn-primary b-btn-settings',
            id: 'save',
            'data-entries-number': "Binda::#{@structure.instance_type.classify}".constantize.where(structure_id:@structure.id).count,
            'data-instance-type': @structure.instance_type.pluralize
        } %>
      </div>

    </div>

  </div>

<% end %>

</div>