<%# This form is only for settings which are not part of any repeater. %>
<%# This is done using `where( ancestry: nil )` %>

<div class="standard-form--container">
  <div id="form-section--field-group-<%= @field_group.id %>" 
    class="form-section--wide-container standard-form--field-group">
    <div class="standard-form--header">
      <small><%= t('binda.field_setting.plural') %></small>
    </div>
    <div class="form-group">
      <%= render 'binda/field_groups/form_section/form_section_header', f: f %>
      <%= render 'binda/field_groups/form_section/form_section_list', f: f %>
    </div>
    <% if @field_group.slug.nil? %>
      <p>
        <%= t( :hint_create_parent_before_child, arg1: "#{ t :field_group }", arg2: "#{ t :field_setting }" ) %>
      </p>
    <% end %>
  </div>
</div>