<% content_for :title do %>
	<%= t('binda.new_field_group') %>
<% end %>


<% content_for :header do %>
	<h3>
		<%= t('binda.new_field_group') %>
	</h3>
  <a href="<%= structure_path( @structure.slug ) %>" 
  	class="main-header--back">
  	<i class="fas fa-list-ul"></i> 
  	<%= "#{ t :back_to }".capitalize %> 
  	<%= @structure.name.capitalize %>
  </a>
<% end %>
		
<% content_for :content do %> 
	<%= render 'form_body' %>
<% end %>