<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @field_group.name %>
</p>

<p>
  <strong>Field type:</strong>
  <%= @field_group.field_type %>
</p>

<p>
  <strong>Position:</strong>
  <%= @field_group.position %>
</p>

<%= link_to 'Edit', edit_field_group_path(@field_group) %> |
<%= link_to 'Back', field_groups_path %>
