<% unless notice.blank? %>
	<div class="b-alert b-alert--success">
		<% if notice.is_a? String %>
			<p><%= notice %></p>
		<% elsif notice.is_a? Hash %>
			<% notice.each do |key, message| %>				
				<p><%= key.split('.').map{|k| k.humanize }.join(': ') %> <%= message.to_sentence %></p>
			<% end %>
		<% end %>
	</div>
<% end %>

<% unless alert.blank? %>
	<div class="b-alert b-alert--danger">
		<% if alert.is_a? String %>
			<p><%= alert %></p>
		<% elsif alert.is_a? Hash %>
			<% alert.each do |key, message| %>
				<p><%= key.split('.').map{|k| k.humanize.capitalize }.join(': ') %> <%= message.to_sentence %></p>
			<% end %>
		<% end %>
	</div>
<% end %>

