<% unless notice.blank? %>
	<div class="form-section--transparent-container row">
  	<div class="alert alert-success col-sm-12">
			<%= notice if notice.is_a? String %>
			<% if notice.is_a? Hash %>
				<% notice.each do |key, message| %>				
					<p><%= key.split('.').map{|k| k.humanize }.join(': ') %> <%= message.to_sentence %></p>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>

<% unless alert.blank? %>
	<div class="form-section--transparent-container row">
  	<div class="alert alert-danger col-sm-12">
			<%= alert if alert.is_a? String %>
			<% if alert.is_a? Hash %>
				<% alert.each do |key, message| %>
					<p><%= key.split('.').map{|k| k.humanize.capitalize }.join(': ') %> <%= message.to_sentence %></p>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>

