<%
# If this partial is run from Devise 
# keep in mind to add "binda." to path helpers
# 
# https://github.com/plataformatec/devise/wiki/How-To:-Use-devise-inside-a-mountable-engine#path-helpers 
%>

<% unless is_devise_controller %>
<div id="main-sidebar">
  <ul class="main-sidebar--nav">
    <li class = "main-sidebar--brand">
      <h3><%= link_to Binda::Setting.website_name, '/' %></h3>
    </li>
    <li>
      <a href="<%= binda.settings_path %>">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Dashboard
      </a>
    </li>
    <li>
      <a href="<%= binda.pages_path %>">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Pages
      </a>
    </li>
    <li>
      <a href="<%= binda.structures_path %>">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Structures
      </a>
    </li>
    <li>
      <a href="<%= binda.destroy_user_session_path %>">
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log out
      </a>
    </li>
  </ul>
</div>
<% end %>