<%
# If this partial is run from Devise controller
# keep in mind to add "binda." to path helpers
# 
# https://github.com/plataformatec/devise/wiki/How-To:-Use-devise-inside-a-mountable-engine#path-helpers 
%>

<% unless is_devise_controller %>
<div id="main-sidebar">
  <ul class="main-sidebar--nav">
    <li class= "main-sidebar--brand">
      <a href="/" target="_blank">
        <p class="main-sidebar--website-name"><%= get_website_name %></p>
        <p class= "main-sidebar--view-website">
          
            <i class="fa fa-external-link" aria-hidden="true"></i>
            <%= t('binda.view_website') %>
        </p>
      </a>
    </li>
    <% Binda::Structure.all.order(:position).each_with_index do |structure, index| %>
      <% if structure.instance_type == 'component' %>
        <li class="main-sidebar--structure <%= 'main-sidebar--first-structure' if index == 0 %>">
          <a href="<%= structure_components_path( structure ) %>">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 
            <%= structure.name.humanize.pluralize  %> 
          </a>
          <% if structure.has_categories %>
            <a class="main-sidebar--sub-link" href="<%= structure_categories_path( structure.slug ) %>">
              <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <%= t(:category).capitalize.pluralize %>
            </a>
          <% end %>
        </li>
      <% else %>
        <li class="main-sidebar--structure <%= 'main-sidebar--first-structure' if index == 0 %>">
          <a href="<%= structure_board_path( structure, structure.board ) %>">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            <%= structure.board.name.humanize %>
          </a>
        </li>
      <% end %>
    <% end %>
    <% if current_user.is_superadmin %>
      <li>
        <a href="<%= structures_path %>">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Structures
        </a>
      </li>
    <% end %>
    <li>
      <a href="<%= manage_users_path %>">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users
      </a>
    </li>
    <li>
      <a href="<%= destroy_user_session_path %>" data-method="delete">
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log out
      </a>
    </li>
  </ul>
</div>
<% end %>