<%
# If this partial is run from Devise 
# keep in mind to add "binda." to path helpers
# 
# https://github.com/plataformatec/devise/wiki/How-To:-Use-devise-inside-a-mountable-engine#path-helpers 
%>

<% unless is_devise_controller %>
<div id="main-sidebar">
  <ul class="main-sidebar--nav">
    <li class = "main-sidebar--brand">
      <h3><%= link_to get_website_name, '/' %></h3>
    </li>
    <li>
      <a href="<%= dashboard_path %>">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Dashboard
      </a>
    </li>
    <% Binda::Structure.all.order(:name).each do |structure| %>
      <li>
        <a href="<%= structure_pages_path( structure.slug ) %>">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> <%= structure.name.humanize.pluralize %> 
        </a>
        <a class="main-sidebar--sub-link" href="<%= structure_categories_path( structure.slug ) %>"><%= structure.name.humanize %> <%= t(:category).capitalize.pluralize %></a>
      </li>
    <% end %>
    <% if current_user.is_superadmin %>
      <li>
        <a href="<%= structures_path %>">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Structures
        </a>
      </li>
    <% end %>
    <li>
      <a href="<%= manage_users_path %>">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users
      </a>
    </li>
    <li>
      <a href="<%= destroy_user_session_path %>" data-method="delete">
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log out
      </a>
    </li>
  </ul>
</div>
<% end %>