<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Binda CMS -- <%= controller_name.capitalize %> <%= action_name.capitalize %></title>
    <%= csrf_meta_tags %>
    <%= tinymce %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
	  <%= stylesheet_link_tag    "binda/application", media: "all" %>
	  <%= javascript_include_tag "binda/application" %>
  </head>

  <body class="<%= action_name %> <%= "#{controller_name}-#{action_name}" %> <%= 'devise-view' if is_devise_controller %>">
    
    <div id="main-container">
      
      <%= render partial: 'layouts/binda/sidebar' %>
      <%= render partial: 'layouts/binda/header' %>

      <div id="main-content">

        <%= render partial: 'layouts/binda/flash' %> 

        <%= yield :content %>
        <%= yield %>
      
      </div> 
    </div>

  </body>
</html>
