<div class="row">
  <div class="login">
		
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		 
		 	<div class="col-sm-12">
		 		<h2>Log in</h2>

		  	<div class="form-inputs">
		    	<%= f.input :email, required: false, autofocus: true %>
		    	<%= f.input :password, required: false %>
		    	<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		  	</div>
		  
		  	<div class="update-form--button form-actions">
		    <%= f.button :submit, "Log in" %>
		  	</div>
				<% end %>

			</div>

			<div class="col-sm-12">
				<%= render "users/shared/links" %>
			</div>
	
	</div>
</div>