<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @asset.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @asset.image %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @asset.slug %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
