<p id="notice"><%= notice %></p>

<h1>Repeaters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repeaters.each do |repeater| %>
      <tr>
        <td><%= repeater.name %></td>
        <td><%= repeater.slug %></td>
        <td><%= link_to 'Show', repeater %></td>
        <td><%= link_to 'Edit', edit_repeater_path(repeater) %></td>
        <td><%= link_to 'Destroy', repeater, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repeater', new_repeater_path %>
