<div>
	<a class="b-btn b-btn-primary sortable--toggle" 
		href="#" 
		data-sortable-target-id="form--list-<%= defined?(repeater) ? repeater.id : f.object.id %>">
		<span class="sortable--toggle-text">
			<i class="fa fa-check" aria-hidden="true"></i> 
			<%= t'binda.done' %>
		</span>
		<span class="sortable--toggle-text">
			<i class="fa fa-random" aria-hidden="true"></i> 
			<%= t'binda.sort_items' %>
		</span>
	</a>
	<% if defined? repeater %>
  	<a id="form--list-<%= repeater.id %>--add-list-item" 
      class="form--add-list-item main-header--link b-btn b-btn-primary b-btn-settings" 
      href="#"
	    data-url="<%= structure_field_group_add_field_setting_path(field_group_id: @field_group.id) %>"
	    data-id="<%= repeater.id %>"
	    data-params="id=<%= f.object.id %>&ancestry=<%= repeater.id %>">
      <i class="fa fa-plus" aria-hidden="true"></i>	
      <%= t(:new_item_in_repeater, arg1: repeater.name.capitalize) %> 
      <%= t('binda.field_setting.singular') %>
    </a>
	<% else %>
	  <a id="form--list-<%= f.object.id %>--add-list-item" 
	    class="form--add-list-item main-header--link b-btn b-btn-primary b-btn-settings" 
	    href="#" 
	    data-url="<%= structure_field_group_add_field_setting_path(field_group_id: @field_group.id) %>"
	    data-id="<%= f.object.id %>"
	    data-params="id=<%= f.object.id %>">
	    <i class="fa fa-plus" aria-hidden="true"></i>
	    <%= t('binda.field_setting.new') %>
	  </a>
  <% end %>
	<p class="control-label clearfix">
		<%= f.object.name %>
	</p>
	<% unless f.object.description.blank? %>
		<p class="help-block">
			<%= f.object.description %>
		</p>
	<% end %>
</div>