	<div class="row">
		<div class="form-inputs col-sm-12">
			
			<%= simple_form_for :fields_params, url: structure_pages_fields_update_path, defaults: { label: false } do |f| %>
				<%= f.error_notification %>
				
				<div class="row">
					<div class="col-sm-8">

						<div class="form-inputs--row row">
							<div class="col-sm-12">

								<h4>Title</h4>
								<%= f.input :name, input_html: { value: page.name } %>
								<%= f.input :slug, as: :hidden, input_html: { value: page.slug } %>
								
							</div>
						</div>

						<% @structure.field_groups.each_with_index do |field_group, index| %>
						<div class="form-inputs--row row">
							<div class="col-sm-12">

								<h4><%= field_group.name.capitalize %></h4>

								<% field_group.field_settings.each do |field_setting| %>
									<% if field_setting.field_type == 'text' %>
										<%= render 'text_field', f: f, page: page, field_group: field_group, field_setting: field_setting, index: index %>
									<% end %>
								<% end %>
									
							</div>
						</div>
						<% end %>

					</div>
			  	<div class="col-sm-4">

						<div class="form-inputs--row row">
							<div class="col-sm-12">
								<h4>Publish</h4>
						    <%= f.button :submit, 'Save changes', class: 'btn btn-primary' %>
						  </div>
					  </div>
					  
			  	</div>
		  	</div>
	  	
			<% end %>

  	</div>
  </div>