	<div class="row">
		<div class="form-inputs col-sm-12">
			
			<%= simple_form_for :fields_params, url: structure_pages_fields_update_path, defaults: { label: false } do |f| %>
				<%= f.error_notification %>
				
				<div class="row">
					<div class="col-sm-8">

						<div class="form-inputs--row row">
							<div class="col-sm-12">

								<h4>Title</h4>
								<%= f.input :name, input_html: { value: page.name } %>
								<%= f.input :slug, as: :hidden, input_html: { value: page.slug } %>
								
							</div>
						</div>

						<% @structure.field_groups.each_with_index do |field_group, index| %>
						<div class="form-inputs--row row">
							<div class="col-sm-12">

								<h4><%= field_group.name.capitalize %></h4>

								<% field_group.field_settings.each do |field_setting| %>
								<%# supposed that it's always a Binda::Text instance %>

									<h5><%= field_setting.name.capitalize %></h5>
									<% unless field_setting.description.blank? %>
										<small class="text-muted"><%= field_setting.description %></small>
									<% end %>
									<% if page.has_text( field_setting ) %>
										<%= f.input "#{ field_group.slug }_#{ field_setting.slug }_text_#{ index }".to_s, input_html: { value: page.get_text( field_setting ), class: 'tinymce' }, as: :text %>
									<% end %>
								<% end %>
									
							</div>
						</div>
						<% end %>

					</div>
			  	<div class="col-sm-4">

						<div class="form-inputs--row row">
							<div class="col-sm-12">
								<h4>Publish</h4>
						    <%= f.button :submit, 'Save changes', class: 'btn btn-primary' %>
						  </div>
					  </div>
					  
			  	</div>
		  	</div>
	  	
			<% end %>

  	</div>
  </div>