  <div class="row">
    <div class="form-inputs col-sm-12">
      
      <%= simple_form_for page, url: get_form_page_url, defaults: { label: false } do |f| %>
        <%= f.error_notification %>
        
        <div class="row">
          <div class="col-sm-8">

            <div class="form-inputs--row row">
              <div class="col-sm-12">

                <h4><%= "#{ t :details }".capitalize %></h4>

                <h5><%= "#{ t :title }".capitalize %></h5>
                <%= f.input :name %>
                
                <% if page.slug.nil? %>
                  <%= f.input :slug, as: :hidden %>
                <% else %>
                  <h5><%= "#{ t :slug }".capitalize %></h5>
                  <%= f.input :slug, disabled: true, hint: "#{ t :slug_disable_hint }" %>
                <% end %>

                <%= f.input :structure_id, as: :hidden, input_html: { value: @structure.id } %>
                
              </div>
            </div>
            
            <%= render "parent_group", parent_group: @structure, f: f, page: page %>

          </div>
          <div class="col-sm-4">

            <div class="form-inputs--row row">
              <div class="col-sm-12">
                <h4><%= "#{ t :publish }".capitalize %></h4>
                <%= f.button :submit, 'Save changes', class: 'btn btn-primary' %>
              </div>
            </div>
            
          </div>
        </div>
      
      <% end %>

    </div>
  </div>