<div class="row">
<div class="form-inputs col-sm-12">

<%= simple_form_for page , defaults: { label: false } do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize( page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-8">

      <div class="form-inputs--row form-inputs--wide row">
        <div class="col-sm-12">

          <h4>Page Details</h4>
          
          <h5>Title</h5>
          <%= f.input :name %>

          <h5>Content</h5>
          <%# f.input :content, input_html: { rows: 10, class: "tinymce" } %>

        </div>
      </div>

    </div>
    <div class="col-sm-4">
      <div class="form-inputs--row form-inputs--narrow row">
        <div class="col-sm-12">
          <div class="form-actions">
            <h4>Settings</h4>
            <h5>Publish status</h5>
            <%= f.input :publish_state, as: :radio_buttons, collection: ['published', 'draft'], include_blank: false %>
            <hr>
            <h5>Append page link to navigation menu</h5>
            <%# f.input :in_menu, as: :radio_buttons, include_blank: false, checked: page.in_menu %>
            <hr>
            <%= f.button :submit, 'Save changes', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
<% end %>

</div>
</div>