<% content_for :header do %>
  <div class="main-header--buttons">
  	<% if @structure.has_preview %>
  		<a href="<%= "#{binda.root_path}#{@structure.slug}/#{@instance.slug}" %>" 
  			class="main-header--link b-btn b-btn-primary">
  			<i class="fas fa-link"></i> 
  			<%= t 'binda.preview' %> 
  			<%= @structure.name.humanize.split.map(&:capitalize).join(' ') %>
  		</a>
    <% end %>
  </div>
  <p class="main-header--title">
  	<%= "#{ t :edit }".capitalize %> 
  	<%= @structure.name.humanize.split.map(&:capitalize).join(' ') %>	
	</p>
<% end %>

<% content_for :content do %>
	<%= render 'binda/fieldable/form_body' %>
<% end %>