<div class="form-item <%= "form-item-#{ field_setting.field_type }" %>">


<%# HEADING %>

<h5><%= field_setting.name.capitalize %></h5>

<% unless field_setting.description.blank? %>
	<small class="text-muted"><%= field_setting.description %></small>
<% end %>


<%# INPUT %>

<%= ff.input :date, start_year: Date.today.year - 200, end_year: Date.today.year + 200 %>
<%= ff.input :field_setting_id, as: :hidden, input_html: { value: field_setting.id } %>
<%= ff.input :id, as: :hidden, input_html: { value: ff.object.id } %>

</div>