<%# HEADING %>
<h5 class="form-item--<%= field_setting.field_type.underscore %>-caption"><%= field_setting.name.capitalize %></h5>

<% unless field_setting.description.blank? %>
	<small class="text-muted"><%= field_setting.description %></small>
<% end %>


<%# INPUT / TEXTAREA %>

<% if ff.object.has_choices %>
	<%= ff.input :content, as: :radio_buttons, collection: ff.object.get_choices.map{ |key,value| [key,value] } %>
<% else %>
	<p>Sorry, no choice is available. 
	<% if current_user.is_superadmin %> 
		Please ensure you setup at least two possible choices in the <a href="<%= edit_structure_field_group_path( structure_id: @structure.id, id: field_setting.field_group.id )%>">field group setup</a>.
	<% else %>
		Please contact the administrator.
	<% end %>
	</p>
<% end %>

<%= ff.input :field_setting_id, as: :hidden, input_html: { value: field_setting.id } %>
<%= ff.input :id, as: :hidden, input_html: { value: ff.object.id } %>
<%= ff.input :fieldable_id, as: :hidden %>
<%= ff.input :fieldable_type, as: :hidden %>