<div class="form-item <%= "form-item-#{ field_setting.field_type }" %>">


<%# HEADING %>

	<h5><%= field_setting.name.capitalize %></h5>

	<% if ff.object.image.present? && ff.object.image.thumb.file.exists? %>
    <%= image_tag ff.object.image.thumb.url %>
	<% end %>

	<% unless field_setting.description.blank? %>
		<small class="text-muted"><%= field_setting.description %></small>
	<% end %>

	<%= ff.input :image, input_html: { class: 'form-item-asset--uploader'} %>

  <%= ff.input :image_cache, as: :hidden %>
	<%= ff.input :field_setting_id, as: :hidden, input_html: { value: field_setting.id } %>
	<%= ff.input :id, as: :hidden, input_html: { value: ff.object.id } %>
	<%= ff.input :fieldable_id, as: :hidden %>
	<%= ff.input :fieldable_type, as: :hidden %>
</div>