
<% # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # %>
<% # # # # # # # # # # # # # TUTTO DA FARE # # # # # # # # # # # # # # # %>
<% # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # %>

<% current_gallery = component.galleries.where( field_setting_id: field_setting.id ).first %>
<% unless current_gallery.present? %>
	<% current_gallery = component.galleries.create( field_setting_id: field_setting.id )%>
<% end %>


<%= f.simple_fields_for "assets_attributes[]", current_gallery do |ff|%>
  <div class="form-item">

		<%= ff.input :field_setting_id, as: :hidden, input_html: { value: field_setting.id } %>
		<%= ff.input :id, as: :hidden, input_html: { value: current_gallery.id } %>

		<h5><%= field_setting.name.capitalize %></h5>

		<% unless field_setting.description.blank? %>
			<small class="text-muted"><%= field_setting.description %></small>
		<% end %>

		<%= ff.input :position %>
    <%= ff.input :image_cache %>

  </div>
<% end %>









<% # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # %>
<% if false %>


<%= f.simple_fields_for 'new_galleries[]', component.galleries.build() do |ff| %>
  <div id="new-child-1" class="form-item form-item--new">

		<%= ff.input :field_setting_id, as: :hidden, input_html: { value: field_setting.id } %>
		<%= ff.input :id, as: :hidden, input_html: { value: current_gallery.id } %>

		<h5><%= field_setting.name.capitalize %></h5>

		<% unless field_setting.description.blank? %>
			<small class="text-muted"><%= field_setting.description %></small>
		<% end %>

		<%= ff.input :image %>

  </div>
<% end %>

<% if component.slug.nil? %>
  <h5>
    <%= t( :hint_create_parent_before_child, arg1: "#{ t :component }", arg2: "#{ t :gallery }" ).capitalize %>  
  </h5>
<% else %>
  <a class="form-item--add-new main-header--link btn btn-default" href="<%= new_structure_component_path( component_id: component.slug ) %>" data-new-child-id="new-child-1">
    <%= "#{ t :new }".capitalize %> <%= t :gallery %>  
  </a>
<% end %>



<% end %>
<% # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # %>
