<% content_for :header do %>
  <div class="main-header--buttons">
    <%= link_to "New #{ @structure.name.humanize.split.map(&:capitalize).join(' ') }", new_structure_component_path , class: 'main-header--link btn btn-primary' %>    
  </div>
  <h3><%= "#{ t :edit }".capitalize %> <%= @structure.name.humanize.split.map(&:capitalize).join(' ') %></h3>
  <a href="<%= structure_components_path %>" class="main-header--back"><span class="glyphicon glyphicon-list"></span> <%= "#{ t :back_to_index }".capitalize %></a>
<% end %>

<% content_for :content do %>
	<%= render 'binda/fieldable/form_body' %>
<% end %>