<% content_for :title do %>
  <%= @structure.name.humanize.split.map(&:capitalize).join(' ').pluralize %>
<% end %>


<% content_for :header do %>
  <div class="main-header--buttons">
    <a href="<%= new_structure_component_path %>"
      class="main-header--link b-btn b-btn-primary">
      <i class="fa fa-plus" aria-hidden="true"></i> 
      <%= t('binda.new') %> 
      <%= @structure.name.humanize.split.map(&:capitalize).join(' ') %>
    </a>
    <%= get_sort_index_link %>
  </div>
  <p class="main-header--title">
    <%= @structure.name.humanize.split.map(&:capitalize).join(' ').pluralize %>
  </p>
<% end %>


<% content_for :content do %>
    <div class="main-table--container">
      <div class="pagination-links--bar">
        <%= paginate @components %>
      </div>
      <table class="standard-form--container" cellspacing="0">
        <thead class="standard-form--header">              
          <tr>
            <th colspan="4">
              <a href="<%= get_sort_link_by('name').html_safe %>" class="sort-link">
                <%= t 'binda.title' %>
                <%= get_sort_link_icon_by('name').html_safe %>
              </a>
            </th>
            <th colspan="2">
              <a href="<%= get_sort_link_by('publish_state').html_safe %>" class="sort-link">
                <%= t 'binda.publish_state' %>
                <%= get_sort_link_icon_by('publish_state').html_safe %>
              </a>
            </th>
            <th colspan="1">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @components.each do |component| %>
            <tr class="main-table--hover" id="component_<%= component.id %>">
              <td colspan="4">
                <%= link_to component.name, structure_component_path( @structure.slug, component ) %>
              </td>
              <td colspan="2"><%= component.publish_state %></td>
              <td class="main-table--actions">
                <a href="<%= edit_structure_component_path( @structure.slug, component ) %>">
                  <i class="fas fa-pencil-alt"></i> 
                  <%= t('binda.edit').capitalize %>
                </a>
                <a href="<%= structure_component_path( @structure.slug, component.slug ) %>"
                  class="text-destroy"
                  data-method="delete"
                  data-confirm="<%= t('binda.confirm_delete') %>"
                  >
                  <i class="far fa-trash-alt"></i> 
                  <%= t('binda.delete').capitalize %>
                </a>                  
              </td colspan="1">
            </tr>
          <% end %>
        <tbody>
      </table>
      <div class="pagination-links--bar">
        <%= paginate @components %>
      </div>
      <div class="b-btn--container">
        <a href="<%= new_structure_component_path %>"
          class="main-header--link b-btn b-btn-primary">
          <i class="fa fa-plus" aria-hidden="true"></i> 
          <%= t('binda.new') %> 
          <%= @structure.name.humanize.split.map(&:capitalize).join(' ') %>
        </a>
        <%= get_sort_index_link %>
      </div>
    </div>
<% end %>
