<% content_for :header do %>
  <div class="main-header--buttons">
    <%= link_to "<i class=\"fa fa-plus\" aria-hidden=\"true\"></i> New #{ @structure.name.humanize.split.map(&:capitalize).join(' ') }".html_safe, new_structure_component_path , class: 'main-header--link b-btn b-btn-primary' %>
  </div>

  <p class="main-header--title"><%= t('binda.sort').capitalize %> <%= @structure.name.humanize.split.map(&:capitalize).join(' ').pluralize %></p>
  <a href="<%= structure_components_path %>" class="main-header--back"><span class="glyphicon glyphicon-list"></span> <%= "#{ t :back_to_index }".capitalize %></a>
<% end %>

<% content_for :content do %>
  <div class="sortable-warning sortable-warning--hidden">
      <div class="sortable-warning--loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <p><%= t 'binda.sort_items_loader', { arg1: t('binda.components').downcase } %></p>
  </div>
  <div class="main-table--container">

      <h5 class="text-muted"><%= t('binda.sort_index_hint', { arg1: @structure.name.humanize.split.join(' ').pluralize }).html_safe %></h5>

      <table class="standard-form--container table-sort">
        <thead>
          <tr>
            <th style="width: 50%;", class="standard-form--header">Title</th>
            <th style="width: 50%;", class="standard-form--header">Publish state</th>
            <th class="standard-form--header"></th>
          </tr>
        </thead>
        <tbody id="<%= @structure.slug %>-components--sort-index" class="sortable" data-update-url="<%= structure_components_sort_path( @structure.slug ) %>">
          <% @components.order( :position, :name ).each do |component| %>
            <tr id="component_<%= component.id %>">
              <td><%= link_to component.name, structure_component_path( @structure.slug, component ) %></td>
              <td><%= component.publish_state %></td>
              <td></td>
            </tr>
          <% end %>
        <tbody>
      </table>

    <%= link_to "<i class=\"fa fa-plus\" aria-hidden=\"true\"></i> New #{ @structure.name.humanize.split.map(&:capitalize).join(' ') }".html_safe, new_structure_component_path, class: 'main-header--link b-btn b-btn-primary', action: "new" %>
        
  </div>
<% end %>
