<% content_for :header do %>
  <div class="main-header--buttons">
    <%= link_to "<i class=\"fa fa-plus\" aria-hidden=\"true\"></i> New #{ @structure.name.humanize.split.map(&:capitalize).join(' ') }".html_safe, new_structure_component_path , class: 'main-header--link b-btn b-btn-primary' %>
  </div>

  <p class="main-header--title"><%= t('binda.sort').capitalize %> <%= @structure.name.humanize.split.map(&:capitalize).join(' ').pluralize %></p>
  <a href="<%= structure_components_path %>" class="main-header--back"><span class="glyphicon glyphicon-list"></span> <%= "#{ t :back_to_index }".capitalize %></a>
<% end %>

<% content_for :content do %>
  <div class="popup-warning popup-warning--hidden">
      <div class="popup-warning--loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <p><%= t 'binda.sort_items_loader', { arg1: t('binda.components').downcase } %></p>
  </div>

  <div class="standard-form--container table-sort table" data-update-url="<%= structure_components_sort_path( @structure.slug ) %>">

    <div class="main-sortable-table--header-row">
      <div class="main-sortable-table--header-title"><p>Title</p></div>
      <div class="main-sortable-table--header-title"><p>Publish State</p></div>
    </div>

    <div id="<%= @structure.slug %>-components--sort-index" class="sortable" data-update-url="<%= structure_components_sort_path( @structure.slug ) %>">
      <% @components.order( :position, :name ).each do |component| %>
        <div class="main-sortable-table--row" id="component_<%= component.id %>">
          <div class="main-sortable-table--row-cell"><%= link_to component.name, structure_component_path( @structure.slug, component ) %></div>
          <div class="main-sortable-table--row-cell"><%= component.publish_state %></div>
        </div>
      <% end %>
    </div>

  </div>

  <%= link_to "<i class=\"fa fa-plus\" aria-hidden=\"true\"></i> New #{ @structure.name.humanize.split.map(&:capitalize).join(' ') }".html_safe, new_structure_component_path, class: 'main-header--link b-btn b-btn-primary', action: "new" %>


<% end %>
