<div class="row">
<div class="form-inputs col-sm-12">

<%= simple_form_for :fields_params, url: structures_fields_update_path , defaults: { label: false } do |f| %>
  <% if structure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize( structure.errors.count, "error") %> prohibited this structure from being saved:</h2>

      <ul>
      <% structure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-8">

      <div class="form-inputs--row row">
        <div class="col-sm-12">

          <h4>Page Details</h4>
          
          <h5>Name</h5>
          <%= f.input :structure_name %>

        </div>
      </div>

      <div class="form-inputs--row row">
        <div class="col-sm-12">
          <h4>Field Groups</h4>

          <h5>Field group name:</h5>
          <small class="text-muted">Every name must be unique, choose it carefully.</small>
          <%= f.input :field_group_name %>
          <%= f.button :submit, 'Create field group', class: 'btn btn-primary' %>

          <% structure.field_groups.each_with_index do |field_group, index| %>
	          <h4><%= field_group.name %></h5>
	          <h5>Name:</h5>
	          <%= f.input :field_group_name %>

          <% end %>

        </div>
      </div>

    </div>
    <div class="col-sm-4">
      <div class="form-inputs--row row">
        <div class="col-sm-12">
          <div class="form-actions">
            <h4>Settings</h4>
            <%= f.button :submit, 'Save changes', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
<% end %>

</div>
</div>