<div id="form-section--structure-<%= @structure.id %>" 
  class="form-section--wide-container standard-form--structure">
	<div class="standard-form--header">
	  <small>
	  	<%= t('binda.field_group.plural') %>
	  </small>
	</div>
	<% if section.slug.nil? %>
	  <p class="standard-form--suggestion">
	  	<%= t( :hint_create_parent_before_child, arg1: "#{ t :structure }", arg2: "#{ t :field_group }" ) %>
		</p>
	<% else %>
    <div class="form-group">
    	<%= render 'binda/structures/form_section/form_section_header', f: f %>
    	<%= render 'binda/structures/form_section/form_section_list', f: f %>
		</div>
	<% end %>
</div>