  <div class="row">
    <div class="form-inputs col-sm-12">
      
      <%= simple_form_for structure, defaults: { label: false }, html: { class: 'parent-group-form' } do |f| %>
        <%= f.error_notification %>
        
        <div class="row">
          <div class="col-sm-8">

            <div class="form-inputs--row form-inputs--wide row">
              <div class="col-sm-12">

                <h4><%= "#{ t :details }".capitalize %></h4>

                <h5><%= "#{ t :title }".capitalize %></h5>
                <p class="text-muted"><%= t :title_hint %></p>
                <%= f.input :name %>
                
                <% if structure.slug.nil? %>
                  <%= f.input :slug, as: :hidden %>
                <% else %>
                  <h5><%= "#{ t :slug }".capitalize %></h5>
                  <%= f.input :slug %>
                <% end %>
                
              </div>
            </div>

            <div class="form-inputs--row form-inputs--wide row">
              <div class="col-sm-12">

                <%= render "parent_group", parent_group: structure, f: f %>

              </div>
            </div>

          </div>
          <div class="col-sm-4">

            <div class="form-inputs--row form-inputs--narrow row">
              <div class="col-sm-12">
                <h4><%= "#{ t :publish }".capitalize %></h4>
                <%= f.button :submit, 'Save changes', class: 'btn btn-primary' %>
              </div>
            </div>
            
          </div>
        </div>
      
      <% end %>

    </div>
  </div>