<div class="standard-form--header">
  <p><%= "#{ t :field_group }".pluralize %></p>
</div>

<%# - - - - - - - - - - - - %>
<%# FORM ITEM               %>
<%# - - - - - - - - - - - - %>
<%= f.simple_fields_for :field_groups, f.object.field_groups.order( :position, :name ) do |ff| %>

  <div id="form-item-<%= ff.object.id %>" class="form-item">

		<%= ff.input :structure_id, as: :hidden %>
		<%= ff.input :id, as: :hidden %>


		<%# - - - - - - - - - - - - %>
		<%# EDIT/REMOVE BUTTONS     %>
		<%# - - - - - - - - - - - - %>

    <div class="standard-form--secondary-header main-actions--header">

      <% unless ff.object.slug.nil? %>

        <%= link_to  "<i class=\"far fa-trash-alt\"></i>".html_safe,
                     structure_field_group_path( @structure.slug, ff.object.slug ),
                     method: :delete,
                     data: { confirm: 'Are you sure?' },
                     class: 'text-destroy' %>

        <%= link_to "<i class=\"fas fa-pencil-alt\"></i>".html_safe,
                    structure_field_group_path( @structure.slug, ff.object.slug ) %>

      <% end %>

    </div>

		<%# - - - - - - - - - - - - %>
		<%# NAME                    %>
		<%# - - - - - - - - - - - - %>
		<%= ff.input :name, label: "#{ t :name }".capitalize  %>


		<%# - - - - - - - - - - - - %>
		<%# SLUG                    %>
		<%# - - - - - - - - - - - - %>
	  <% unless ff.object.slug.nil? %>
      <%= ff.input :slug, as: :string, input_html: { class: "form-item--input" } %>
	  <% end %>

	</div>

<% end %>


<%# - - - - - - - - - - - - %>
<%# FORM NEW ITEM           %>
<%# - - - - - - - - - - - - %>
<%= f.simple_fields_for 'new_field_groups[]', @structure.field_groups.build() do |ff| %>
  <div id="field-group-<%= f.object.id %>--new-form-item" class="form-item form-item--new">
		<div class="form-item--editor">
			<%= ff.input :structure_id, as: :hidden %>
			<%= ff.input :id, as: :hidden %>
			<%= ff.input :name, label: "#{ t :name }".capitalize %>
		</div>
	</div>
<% end %>


<%# - - - - - - - - - - - - - - %>
<%# 'ADD NEW FORM ITEM' BUTTON  %>
<%# - - - - - - - - - - - - - - %>
<% if section.slug.nil? %>
  <p class="standard-form--suggestion"><%= t( :hint_create_parent_before_child, arg1: "#{ t :structure }", arg2: "#{ t :field_group }" ).capitalize %></p>
<% else %>
  <a id="form-item--field-group-<%= f.object.id %>--add-new" class="form-item--add-new main-header--link b-btn b-btn-primary b-btn-settings" href="<%= new_structure_field_group_path( @structure.slug ) %>" data-new-form-item-id="field-group-<%= f.object.id %>--new-form-item">
    <%= "<i class=\"fa fa-plus\" aria-hidden=\"true\"></i> #{ t(:new).capitalize }".html_safe %> <%= t :field_group %>	
  </a>
<% end %>