<% content_for :header do %>
  <div class="main-header--buttons">
    <a href="<%= new_structure_path %>"
      class="main-header--link b-btn b-btn-primary">
      <i class="fa fa-plus" aria-hidden="true"></i>
      <%= t('binda.new_structure') %>
    </a>
    <%= get_structures_sort_index_link %>
  </div>
  <p class="main-header--title">
    <%= t('binda.structures') %>
  </p>
<% end %>


<% content_for :content do %>
  <div class="main-table--container">
    <table class="standard-form--container">
      <thead class="standard-form--header">
        <tr>
          <th colspan="7"><%= t('binda.structures') %></th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @structures.order( :name ).each do |structure| %>
          <tr class="main-table--hover" id="structure_<%= structure.id %>">

            <td><%= link_to structure.name, structure_path(structure) %></td>
            <td class="main-table--actions">
              <a href="<%= edit_structure_path %>">
                <i class="fas fa-pencil-alt"></i>
                <%= t('binda.edit') %>
              </a>
              <a href="<%= structure_path %>"
                class="text-destroy"
                data-method="delete"
                data-confirm="<%= t('binda.structure.confirm_delete') %>">
                <i class="far fa-trash-alt"></i>
                <%= t('binda.delete') %>
              </a>
            </td>
          </tr>
        <% end %>
      <tbody>
    </table>
    <div class="b-btn--container">
      <%= paginate @structures %>
      <a href="<%= new_structure_path %>"
        class="main-header--link b-btn b-btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <%= t('binda.new_structure') %>
      </a>
    </div>
  </div>
<% end %>
