<div class="row">
  <div class="login">

		<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

		 	<div class="col-sm-12">
		 	
				<h2>Forgot your password?</h2>

			  <%= f.error_notification %>

		  	<div class="form-inputs">
			    <%= f.input :email, required: true, autofocus: true %>
			  </div>

			  <div class="update-form--button form-actions">
			    <%= f.button :submit, "Send me reset password instructions" %>
			  </div>
			</div>

			<% end %>

			<div class="col-sm-12">
				<%= render "binda/users/shared/links" %>
			</div>
	
	</div>
</div>