<div class="row">
<div class="form-body--container col-sm-12">

<%= simple_form_for category, url: get_form_category_url, defaults: { label: false } do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize( category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-8">

      <div class="form-section--wide-container row">
        <div class="col-sm-12">

          <h4><%= "#{ t :details }".capitalize %></h4>
          
          <h5><%= t(:name).capitalize %></h5>
          <%= f.input :name %>

          <% if category.slug.nil? %>
            <%= f.input :slug, as: :hidden %>
          <% else %>
            <h5><%= "#{ t :slug }".capitalize %></h5>
            <%= f.input :slug, disabled: true, hint: "#{ t :slug_disable_hint }" %>
          <% end %>

          <h5><%= t(:description).capitalize %></h5>
          <%= f.input :description %>

          <h5><%= t(:position).capitalize %></h5>
          <%= f.input :position %>

        </div>
      </div>

    </div>
    <div class="col-sm-4">
      <div class="form-section--narrow-container row">
        <div class="col-sm-12">
          <div class="form-actions">
            <h4><%= t(:setting).capitalize.pluralize %></h4>
            <%= f.button :submit, 'Save changes', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
<% end %>

</div>
</div>